.todo-list-item {
    padding: .25rem .75rem;
    border: 1px solid #d3d3d3;
    border-radius: 4px;
    margin-bottom: 5px;

    transition: .1s;
}

.todo-list-item:hover {
    border: 1px solid #818181;
}

.todo-list-item-label {
    line-height: 35px;
    cursor: pointer;
    user-select: none;
}

.b-btn-outline-success {
    margin-right: 5px;
}

.todo-list-item.done {
    text-decoration: line-through;
    /* background-color: #28a745; */
    box-shadow: none !important;
}

/* .todo-list-item.done .todo-list-item-label {
    color: white;
} */

.todo-list-item.important .todo-list-item-label {
    font-weight: bold;
    color: steelblue;
}

.todo-counter__item {
    margin-right: 10px;
    color: hsla(0, 0%, 60%, 1);
}

.btn-outline-success.important {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.todo-list-item.important {
    box-shadow: 0 0 0 1px steelblue;
}

