.add-item button {
    padding: .5em 0.8em;
    background: none;
    border: 1px solid #ced4da;
    border-radius: 5px;
    font-size: .8rem;
    transition-duration: .2s;
}

.add-item button:hover {
    border-color:hsla(210, 14%, 62%, 1);
}

.add-item input {
    margin-right: 5px;
    transition: linear 0.2s;
}

.add-item input.warning {
    animation: pulsing;
    animation-duration: 0.35s;
    animation-iteration-count: 2;
}

@keyframes pulsing {
    0% {
        box-shadow: none; 
    }
    50% {
        box-shadow: 0 0 0 0.2rem rgba(255, 153, 0, 0.514);
    }
    100% {
        box-shadow: none; 
    }
  }